body{
  background-color: darkblue;
}

p{
  color: yellow;
  text-align : center;
   font-family: "Gill Sans Extrabold", sans-serif;
}
h1{
  color: white;
  font-family: "Gill Sans Extrabold", sans-serif;
}

h2{
  color: grey ;
  font-family: "Gill Sans Extrabold", sans-serif;
}
