body{
  background-color: black;
}

p{
  color: white;
  text-align : center;
   font-family: "Gill Sans Light", sans-serif;
}
h1{
  color: white;
  font-family: "Gill Sans Extrabold", sans-serif;
}

h2{
  color: white ;
  font-family: "Gill Sans Regular", sans-serif;
}
