body{
  background-color: white ;
}

p{
  color: black;
  text-align : justify;
  font-family: "Gill Sans Light", sans-serif;
}

h1{
  color: green;
  font-family: "Times New Roman", serif;
  font-size: 100 px;
}

h2{
  color: black ;
  font-family: "Gill Sans Regular", sans-serif;
  text-transform: upper-case;
}

h3{
  text-align : center; 
  font-size : 9 px;
  font-family : "Gill Sans Regular", sans-serif;
  width : 25%
  height : 25%
}

.container{
  display: flex;
  justify-content: space-between;
}

div{
  text-align : center; 
  font-size : 6 px;
  font-family: "Gill Sans Regular", sans-serif;
}

script{ 
  float: right 
  width: 20%
}

span{
  font-weight: ;
  font-style: ;
 } 

.container { 
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
  gap: 50px 
}
  
.item { 
  width: 150px
  height:
  }

img{
  width: 400px
}

scketch.js{
  margin: auto 
}



  
