body{
  background-color: white ;
}

p{
  color: black;
  text-align : center;
   font-family: "Gill Sans Light", sans-serif;
}
h1{
  color: black;
  font-family: "Gill Sans Extrabold", sans-serif;
}

h2{
  color: black ;
  font-family: "Gill Sans Regular", sans-serif;
  text-transform: upper-case;
}

div{
  text-align : center; 
  font-size : 12px;
  font-family: "Gill Sans Regular", sans-serif;
}


